.jumbotron {
  padding-top: 6rem;
  background-color: #c2e5d5;
}
#projects {
  background-color: #c2e5d5;
}
#contact {
  background-color: #c2e5d5;
}
.fs-4 {
  line-height: px;
}
section {
  padding-top: 5rem;
}
